<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Page d'accueil Coach personnel</title>
</head>
<body>
  <header>
    <h1>Bienvenue sur le site Coach personnel</h1>
  </header>
  <nav>
    <ul>
      <li><a href="#">Accueil</a></li>
      <li><a href="{% url 'appointment:appointment' %}">Prendre rendez-vous</a></li>
      <li><a href="#galerie">Galerie</a></li>
    </ul>
  </nav>
  <main>
    <h2>Présentation du coach</h2>
    <p>Bonjour, je suis votre coach personnel, vousêtes sur mon nouveau site, vous pouvez prendre rendez-vous grace au formulaire</p>
  </main>
  <footer>
    <p>&copy; Coach personnel</p>
  </footer>
</body>
</html>
